#!{{virtual_env_dir}}bin/python
import sys
import os
from django.core.servers.fastcgi import runfastcgi

PROJECT_NAME = '{{project_name}}'

sys.path.insert(0, "{{ django_root_dir }}")
sys.path.insert(0, "{{virtual_env_dir}}lib/python2.7/site-packages/")

os.chdir({{ django_root_dir }})
os.environ["DJANGO_SETTINGS_MODULE"] = {{ settings_module }}

runfastcgi(method="prefork", daemonize="false", maxspare=2)
